%h1 Help:
%table.table.table-striped.table-hover
  %thead
    %tr
      %th{:scope => "col"}= I18n.t('static_pages.help.description.option')
      %th{:scope => "col"}= I18n.t('static_pages.help.description.description')
  %tbody
    %tr
      %th{:scope => "row"}= I18n.t('static_pages.options.cars_list')
      %th{:scope => "row"}= I18n.t('static_pages.help.description.cars_list')
    %tr
      %th{:scope => "row"}= I18n.t('static_pages.options.help')
      %th{:scope => "row"}= I18n.t('static_pages.help.description.help')
    %tr
      %th{:scope => "row"}= I18n.t('static_pages.options.login')
      %th{:scope => "row"}= I18n.t('static_pages.help.description.login')
    %tr
      %th{:scope => "row"}= I18n.t('static_pages.options.logout')
      %th{:scope => "row"}= I18n.t('static_pages.help.description.logout')
    %tr
      %th{:scope => "row"}= I18n.t('static_pages.options.my_searches')
      %th{:scope => "row"}= I18n.t('static_pages.help.description.my_searches')
    %tr
      %th{:scope => "row"}= I18n.t('static_pages.options.search')
      %th{:scope => "row"}= I18n.t('static_pages.help.description.search')
    %tr
      %th{:scope => "row"}= I18n.t('static_pages.options.sign_up')
      %th{:scope => "row"}= I18n.t('static_pages.help.description.sign_up')
      