.h4.m-5= I18n.t('searches.index.all_searches')

- @searches.each do |search|
  .col.m-4
    .card{style: "width: 25rem;"}
      .card-body  
        .card-text= I18n.t('searches.index.make', param: search.make)
        .card-text= I18n.t('searches.index.model', param: search.model)
        .card-text= I18n.t('searches.index.year_from', param: search.year_from)
        .card-text= I18n.t('searches.index.year_to', param: search.year_to)
        .card-text= I18n.t('searches.index.price_from', param: search.price_from)
        .card-text= I18n.t('searches.index.price_to', param: search.price_to)
        .card-text= I18n.t('searches.index.created_at', param: search.created_at.to_date) 
    .mb-3

