.container
  .row
    .col-3
      .h4.m-4  Choose sort:
      %ul.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
        %li.nav-link.px-2=link_to 'Date added desc', cars_path(request.params.merge(sort_type: :created_at).merge(sort_direction: :desc))
        %li.nav-link.px-2=link_to 'Date added asc', cars_path(request.params.merge(sort_type: :created_at).merge(sort_direction: :asc))
        %li.nav-link.px-2=link_to 'Price desc', cars_path(request.params.merge(sort_type: :price).merge(sort_direction: :desc))
        %li.nav-link.px-2=link_to 'Price asc', cars_path(request.params.merge(sort_type: :price).merge(sort_direction: :asc))
    .col-6
      .h4.m-4 Cars List:
      .h4.m-4= "Cars Quantity: #{@cars.count}" 

      - @cars.each do |car|
        .col.m-4
          .card{style: "width: 25rem;"}
            .card-body  
              .card-text= "make: #{car.make}"
              .card-text= "model: #{car.model}"
              .card-text= "year: #{car.year}"
              .card-text= "price: #{number_to_currency(car.price, unit: "$", format: "%n %u", delimiter: " ")}"
              .card-text= "odometer: #{car.odometer}"
              .card-text= "description: #{car.description}"
              .card-text= "date added: #{car.created_at.to_date}"
        .mb-3

  
